uvicorn
fastapi
pydantic
email-validator
sqlalchemy
psycopg2-binary
sqlalchemy-utils
alembic
asyncpg
python-dotenv
pyjwt
passlib[bcrypt]
python-jose[cryptography]
python-multipart
cryptography
gunicorn
